* {box-sizing: border-box;}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.content {
    width: 70%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid indigo;
    margin: 5px;
}

.dots {
    width: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: 12px auto;
}

[id^="dot"] {
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    margin: 1px
}

#prop {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}